<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

  <title>Find Your Ideal EV</title>

  <link rel="stylesheet" href="main.css?t=1556557921303" media="screen" />
  <link rel="stylesheet" href="print.css?t=1556557921303" media="print" />
</head>

<body>
  <div class="showroom vue-app">

    <div class="vue-loader">
      <div class="lds-dual-ring">
        <div></div>
      </div>
    </div>

    <div id="showroom" data-component="filterableList">
      <div class="flex-wrap">

        <div class="showroom__personas">
          <div class="flex-wrap">
            <div class="showroom__group showroom__group--your-matches">
              <button class="btn-reset" v-on:click="(explorerResults) ? applyPersona($event) : openExplorer($event)" :data-persona="(explorerResults) ? explorerResults : ''" v-html="(explorerResults) ? 'My Matches' : 'Find Your Match'"></button>
              </div>
            <div class="showroom__group showroom__group--budget">
              <button class="btn-reset" v-on:click="applyPersona($event)" data-persona='{"brand":[],"range":0,"budget":"0 - 34999","seats":[],"bodyType":[],"fuelType":""}'>Budget Conscious</button>
            </div>
            <div class="showroom__group showroom__group--lux">
              <button class="btn-reset" v-on:click="applyPersona($event)" data-persona='{"brand":["Tesla","Audi","Porsche","Mercedes","BMW","Cadillac"],"range":0,"budget":"50001 - Infinity","seats":[],"bodyType":[],"fuelType":""}'>Luxe &#38; Lavish</button>
            </div>
            <div class="showroom__group showroom__group--family">
              <button class="btn-reset" v-on:click="applyPersona($event)" data-persona='{"brand":[],"range":0,"budget":"","seats":[5,6],"bodyType":["Sedan","Hatchback","Crossover","SUV","Minivan"],"fuelType":""}'>Safety First</button>
            </div>
            <div class="showroom__group showroom__group--commute">
              <button class="btn-reset" v-on:click="applyPersona($event)" data-persona='{"brand":[],"range":0,"budget":"","seats":[],"bodyType":[],"fuelType":"Electric Vehicle"}'>Green Commute</button>
            </div>
          </div>
        </div>

        <div class="showroom__cars">

          <div class="showroom__header flex-wrap">
            <h2 class="showroom__count">{{ refined.length }} Vehicle<span v-if="refined.length !== 1">s</span></h2>

            <div class="showroom__controls">

              <div class="select-wrap select-wrap--inset-label">
                <select id="showroomSort" class="showroom__sort" v-model="showroomSort">
                  <!-- <option value="default">Recommended</option> -->
                  <option value="default">A - Z</option>
                  <option value="price-asc">Lowest Price</option>
                  <option value="price-desc">Highest Price</option>
                  <option value="range-electric">Highest Electric Range</option>
                  <option value="range-total">Highest Total Range</option>
                  <option value="seat-desc">Most Seats</option>
                </select>
                <label for="showroomSort">Sort</label>
              </div>

            </div>

          </div>


          <div class="showroom__selected-filters">
            <span v-for="filter in filterTags" aria-live="polite">
              <button class="showroom__tag" v-on:click="removeFilter($event)" :data-filter-value="filter.value" :data-filter-type="filter.type" :aria-label="'Deselect ' + filter.value">
                  {{ filter.label }}
                  <svg class="showroom__x-btn" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Static/assets/images/sprites/vector-spritesheet.svg#icon-x"></use>
                  </svg>
              </button>
            </span>

            <button class="showroom__x-all link-btn" v-if="appliedFilters.length > 1" v-on:click="btnClearFilters">Clear All<span class="vh"> Filters</span></button>
          </div>

          <div class="showroom__compare-wrap" v-show="selected.length > 0">
            <span v-cloak>{{ selected.length }} of 3 cars selected for comparison</span>
            <button class="showroom__compare-cta btn-branded" :disabled="selected.length <= 1"  v-on:click="showCompare">
              Compare
            </button>
          </div>

          <div class="showroom__list">
            <ul>

              <li class="showroom__no-results" v-if="refined.length == 0">
                <div>
                  No results found
                </div>
              </li>

              <li v-for="(car, index) in applyFilters.slice(0, 6)" v-bind:key="car.id" v-bind:data-index="index" class="showroom__vehicle" :data-selected="(selected.indexOf(car.id) >= 0)">
                <article :class="(selected.length == maxSelected && selected.indexOf(car.id) == -1) ? 'showroom__content showroom__content--disabled' : 'showroom__content'" :key="car.id" :aria-label="car.brand + ' ' + car.name">
                  <input type="checkbox" name="selected" :id="'selected-' + car.id" :value="car.id" v-model="selected" :disabled="(selected.length == maxSelected && selected.indexOf(car.id) == -1)" >
                  <label :for="'selected-' + car.id" v-html="(selected.indexOf(car.id) == -1) ? 'Compare' : 'Selected'"></label>
            
                  <div class="showroom__image">
                  <a :href="car.url" ><img v-if="car.image" v-bind:src="car.image" :alt="car.name" :data-ga-car-name="car.name" /></a>
            
                  <div class="ezev-tag ezev-tag--deal" v-if="car.dealAvailable">
                    <div class="ezev-tag__mask">
                    <span class="ezev-tag__icon ezev-tag__icon--about-ezev"></span>
                    <span class="ezev-tag__text">
                      Deal Available
                    </span>
                    </div>
                  </div>
                  </div>
        
                  <div class="showroom__heading">
                  <h3 class="showroom__name">
                    <a :href="car.url" :data-ga-car-name="car.name">{{ car.name }}</a>
                  </h3>
                  <span class="showroom__icon">
                    <svg class="showroom__type-icon showroom__type-icon--electric" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#icon-car-type-electric'}"></use>
                    </svg>
                    <svg class="showroom__type-icon showroom__type-icon--hybrid" role="presentation" v-if="car.fuelType !== 'Electric Vehicle'">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#icon-car-type-hybrid'}"></use>
                    </svg>
                  </span>
                  </div>
        
                  <div class="showroom__type" v-html="car.fuelType"></div>
            
                  <table class="showroom__stats-table">
                  <tr v-if="car.electricRange">
                    <th>Electric Range</th>
                    <td>{{ car.electricRange | distanceShorthand }}</td>
                  </tr>
                  <tr v-if="car.totalRange">
                    <th>Total Range</th>
                    <td>{{ car.totalRange | distanceShorthand }}</td>
                  </tr>
                  <tr v-if="car.annualGasSavings">
                    <th>Yearly Gas Savings*</th>
                    <td>{{ car.annualGasSavings | currency }}</td>
                  </tr>
                  <tr>
                    <th>MSRP After Federal Incentives</th>
                    <td class="showroom__price">{{ car.price | currency }}</td>
                  </tr>
                  </table>
                </article> 
                </li>
                
                <li class="ev-explorer__quiz-cta" v-show="refined.length !== 0">
                  <div class="ev-explorer__quiz-cta--wrap">
                    <img src="car-outline.png" role="presentation">
                    <div class="ev-explorer__cta-content">
                      <p><strong>Which car is right for me?</strong></p>
                      <p>Answer a few questions and we'll find a car that meets your needs.</p>
                    </div>
                    <button class="btn-primary" data-a11y-dialog-show="evExplorerModal" v-on:click="openExplorer($event)">Find Your Match</button>
                  </div>
                </li>
                
                <li v-for="(car, index) in applyFilters.slice(6, applyFilters.length)" v-if="index + 6 < maxShown" v-bind:key="car.id" v-bind:data-index="index" class="showroom__vehicle" :data-selected="(selected.indexOf(car.id) >= 0)">
                <article :class="(selected.length == maxSelected && selected.indexOf(car.id) == -1) ? 'showroom__content showroom__content--disabled' : 'showroom__content'" :key="car.id" :aria-label="car.brand + ' ' + car.name">
                  <input type="checkbox" name="selected" :id="'selected-' + car.id" :value="car.id" v-model="selected" :disabled="(selected.length == maxSelected && selected.indexOf(car.id) == -1)" >
                  <label :for="'selected-' + car.id" v-html="(selected.indexOf(car.id) == -1) ? 'Compare' : 'Selected'"></label>
            
                  <div class="showroom__image">
                  <a :href="car.url" ><img v-if="car.image" v-bind:src="car.image" :alt="car.name" :data-ga-car-name="car.name" /></a>
            
                  <div class="ezev-tag ezev-tag--deal" v-if="car.dealAvailable">
                    <div class="ezev-tag__mask">
                    <span class="ezev-tag__icon ezev-tag__icon--about-ezev"></span>
                    <span class="ezev-tag__text">
                      Deal Available
                    </span>
                    </div>
                  </div>
                  </div>
        
                  <div class="showroom__heading">
                  <h3 class="showroom__name">
                    <a :href="car.url" :data-ga-car-name="car.name">{{ car.name }}</a>
                  </h3>
                  <span class="showroom__icon">
                    <svg class="showroom__type-icon showroom__type-icon--electric" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#icon-car-type-electric'}"></use>
                    </svg>
                    <svg class="showroom__type-icon showroom__type-icon--hybrid" role="presentation" v-if="car.fuelType !== 'Electric Vehicle'">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#icon-car-type-hybrid'}"></use>
                    </svg>
                  </span>
                  </div>
        
                  <div class="showroom__type" v-html="car.fuelType"></div>
            
                  <table class="showroom__stats-table">
                  <tr v-if="car.electricRange">
                    <th>Electric Range</th>
                    <td>{{ car.electricRange | distanceShorthand }}</td>
                  </tr>
                  <tr v-if="car.totalRange">
                    <th>Total Range</th>
                    <td>{{ car.totalRange | distanceShorthand }}</td>
                  </tr>
                  <tr v-if="car.annualGasSavings">
                    <th>Yearly Gas Savings*</th>
                    <td>{{ car.annualGasSavings | currency }}</td>
                  </tr>
                  <tr>
                    <th>MSRP After Federal Incentives</th>
                    <td class="showroom__price">{{ car.price | currency }}</td>
                  </tr>
                  </table>
                </article>
                </li>

            </ul>

            <div class="showroom__load-more" v-if="refined.length >= maxShown">
              <button class="btn-primary" v-on:click="loadMore">Load More</button>
            </div>

          </div>
    
          <!-- compare modal -->
		  <div id="compareModal" class="modal" aria-hidden="true">
        <div tabindex="-1" class="modal-overlay" data-a11y-dialog-hide></div>
    
        <div class="modal-content" role="dialog" aria-labelledby="compare-title">
          <div role="document">
          <div class="modal-header">
            <h2 class="modal-title" id="compare-title" tabindex="0">Car Compare</h2>
            <button class="link-btn modal-close" data-a11y-dialog-hide aria-label="Close this dialog window" >
              Close
              <span class="icon-close" aria-hidden="true"></span>
            </button>
          </div>
        
          <div class="modal-body">
            <div class="table-responsive table-responsive--fixed">
              <table class="comparison-chart">
                <caption class="vh">Compare selected models</caption>
                <thead>
                  <tr>
                      <td></td>
                      <th scope="col" class="comparison-chart__vehicle" :aria-label="car.brand + ' ' + car.name" v-for="car in carComparison">
                        <img v-bind:src="car.image" :alt="car.brand + ' ' + car.name">
                        <h4>{{ car.name }}</h4>
                        <p v-html="car.fuelType"></p>
                        
                        <a :href="car.url">Vehicle Details</a>
                      </th>
                  </tr>
                </thead>
                <tbody class="spacer">
                  <tr>
                      <td></td>
                      <td v-for="car in carComparison"></td>
                  </tr>
                </tbody>
  
                <tbody>
                  <tr>
                      <th scope="row">MSRP</th>
                      <td v-for="car in carComparison">{{ car.price | currency }}</td>
                  </tr>
                  <tr>
                      <th scope="row">Federal Incentives</th>
                      <td v-for="car in carComparison">{{ car.federalIncentivesValue | currency}}</td>
                  </tr>
                  <tr>
                      <th scope="row">State Rebate</th>
                      <td v-for="car in carComparison">{{ car.stateRebateValue | currency}}</td>
                  </tr>
                  <tr class="comparison-chart__total">
                      <th scope="row">MSRP After Discounts *</th>
                      <td v-for="car in carComparison">{{ car.price - car.federalIncentivesValue - car.stateRebateValue | currency}}</td>
                  </tr>
                </tbody>
                <tbody class="spacer">
                  <tr>
                      <td></td>
                      <td v-for="car in carComparison"></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <th scope="row">Fuel Cost**</th>
                      <td v-for="car in carComparison">{{ car.fuelCost | currency }}</td>
                  </tr>
                  <tr>
                      <th scope="row">Maintenance**</th>
                      <td v-for="car in carComparison">{{ car.maintenanceValue | currency }}</td>
                  </tr>
                  <tr class="comparison-chart__total">
                      <th scope="row">Total Cost to Own**</th>
                      <td v-for="car in carComparison">{{ car.price - car.federalIncentivesValue - car.stateRebateValue + car.fuelCost + car.maintenanceValue | currency }}</td>
                  </tr>
                </tbody>
                <tbody class="spacer">
                  <tr>
                      <td></td>
                      <td v-for="car in carComparison"></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <th scope="row">Fuel Type</th>
                      <td v-for="car in carComparison"><span v-html="car.fuelType"></span></td>
                  </tr>
                  <tr>
                      <th scope="row">Electric Range</th>
                      <td v-for="car in carComparison">{{ car.electricRange | distance }}</td>
                  </tr>
                  <tr>
                      <th scope="row">Gas Range</th>
                      <td v-for="car in carComparison">{{ car.totalRange - car.electricRange | distance }}</td>
                  </tr>
                  <tr class="comparison-chart__total">
                      <th scope="row">Total Range</th>
                      <td v-for="car in carComparison">{{ car.totalRange | distance }}</td>
                  </tr>
                </tbody>
                <tbody class="spacer">
                  <tr>
                      <td></td>
                      <td v-for="car in carComparison"></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="comparison-chart__total">
                      <th scope="row">0-60 Acceleration</th>
                      <td v-for="car in carComparison">{{ (car.acceleration ? car.acceleration + ' seconds' : 'N/A') }}</td>
                  </tr>
                </tbody>
                <tbody class="spacer">
                  <tr>
                      <td></td>
                      <td v-for="car in carComparison"></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <th scope="row">CO2 emissions gas equivalent</th>
                      <td v-for="car in carComparison">
                        <span v-if="car.co2EmissionsGasEquivalent">{{ car.co2EmissionsGasEquivalent | float }}</span>
                        <span v-else>N/A</span>
                      </td>
                  </tr>
                  <tr class="comparison-chart__total">
                    <th scope="row">Carbon Footprint</th>
                    <td v-for="car in carComparison">
                      <span v-if="car.carbonFootprint">{{ car.carbonFootprint | co2 }}</span>
                      <span v-else>N/A</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <p class="disclaimer">*There may be more discounts available - sign in or register to learn more<br/>**Over 5 years</p>
  
            <div class="modal-cta-holder">
              <a href="/contact-us" class="btn-secondary">Contact an EV Expert</a>
            </div>
          </div>
          </div>
        </div>
        </div>
    
        <ev-explorer :filters="filterOptions" ></ev-explorer>
  
        <!-- EV Explorer -->
        <script id="ev-explorer" type="text/x-template">
          <!-- Modal -->
          <div id="evExplorerModal" class="modal" aria-hidden="true">
            <div tabindex="-1" class="modal-overlay"></div>
            <div class="modal-content" role="dialog" aria-labelledby="evExplorerModal-title">
              <div class="ev-explorer" role="document">
                <div class="modal-header">
                  <h2 id="evExplorerModal-title" class="modal-title" tabindex="0">EV Explorer</h2>
  
                  <button class="link-btn modal-back" v-if="progress !== 0" v-on:click="prev">
                    <span class="icon-back" aria-hidden="true"></span>
                    <span>Back</span>
                  </button>
                  <button class="link-btn modal-close" aria-label="Close this dialog window" data-a11y-dialog-hide>
                    <span>Close</span>
                    <span class="icon-close" aria-hidden="true"></span>
                  </button>
  
                  <div v-if="progress !== 0" class="ev-explorer__progress-bar">
                    <div class="ev-explorer__progress-fill">
                      <div class="ev-explorer__progress-empty" :style="{ width: 'calc(100% - ' + progress + '%)'}" ></div>
                    </div>
                  </div>
                </div>
          
                
          
                <div class="modal-body" :data-splash="progress == 0">
          
                  <div v-if="progress == 0" class="ev-explorer__splash">
                    <h3 class="ev-explorer__intro">Find Your Match</h3>
                    <p class="ev-explorer__blurb">We'll match you with the electric vehicles that meet your unique needs.</p>
          
                    <button v-on:click="skip" class="btn-branded ev-explorer__start">Start</button>
                  </div>
                  
                  <div v-for="question in questions">
                    <div v-if="question.id == currentQuestion && progress > 0 && progress < 100">
  
                      <div class="vh">Step <span v-html="question.id"></span> of <span v-html="questions.length"></span></div>
          
                      <div v-if="!valid">
                        Please choose an option below.
                      </div>
  
                      <fieldset class="ev-explorer__fieldset">
                        <legend class="ev-explorer__question" tabindex="-1" v-html="question.text"></legend>
                        
                        <div class="ev-explorer__answers">
                            <div class="ev-explorer__item" :data-style="question.style" v-for="(answer, a) in getFilterOptions(question.filter)">
  
                              <div v-if="question.style == 'single'">
                                <div :class="(getRemaining(question.filter, answer.value) == 0) ? 'ev-explorer__simple-input ev-explorer__simple-input--disabled' : 'ev-explorer__simple-input'" 
                                    :data-selected="(exploreBy[question.filter]).toString() == answer.value">
                                  <input type="radio"
                                        class="ev-explorer__input"
                                        :id="'question-'+question.id+'-answer-'+a" 
                                        :name="'question-'+question.id" 
                                        :value="answer.value" 
                                        v-model="exploreBy[question.filter]"
                                        :disabled="(getRemaining(question.filter, answer.value) == 0)"
                                        :data-question="question.id"
                                        :data-ga-style-name="question.filter + ', ' + answer.label">
                                  <label class="ev-explorer__label"
                                        :for="'question-'+question.id+'-answer-'+a" >
                                    <span v-html="answer.label"></span>
                                    <span class="ev-explorer__remaining-count" v-html="getRemaining(question.filter, answer.value)"></span>
                                  </label>
                                </div>
                              </div>
  
                              <div v-if="question.style == 'multi'">
                                <div :class="(getRemaining(question.filter, answer.value) == 0) ? 'ev-explorer__simple-input ev-explorer__simple-input--disabled' : 'ev-explorer__simple-input'" 
                                    :data-selected="exploreBy[question.filter].indexOf(answer.value) > -1">
                                  <input type="checkbox"
                                        class="ev-explorer__input"
                                        :id="'question-'+question.id+'-answer-'+a" 
                                        :name="'question-'+question.id" 
                                        :value="answer.value" 
                                        v-model="exploreBy[question.filter]"
                                        :disabled="(getRemaining(question.filter, answer.value) == 0)"
                                        :data-question="question.id"
                                        :data-ga-style-name="question.filter + ', ' + answer.label">
                                  <label class="ev-explorer__label"
                                        :for="'question-'+question.id+'-answer-'+a" >
                                    <span v-html="answer.label"></span>
                                    <span class="ev-explorer__remaining-count" v-html="getRemaining(question.filter, answer.value)"></span>
                                  </label>
                                </div>
                              </div>
  
                              <div v-if="question.style == 'fiveup'" :question="question" :answer="answer">
                                <div :class="(getRemaining(question.filter, answer.value) == 0) ? 'ev-explorer__fiveup-input ev-explorer__fiveup-input--disabled' : 'ev-explorer__fiveup-input'" 
                                    :data-selected="exploreBy[question.filter].indexOf(answer.value) > -1">
                                  <label class="ev-explorer__label"
                                        :for="'question-'+question.id+'-answer-'+a" >
                                    <svg class="ev-explorer__option-icon">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#' + question.filter + '-' + answer.value.toLowerCase()}"></use>
                                    </svg>
                                    <input type="checkbox" 
                                          class="ev-explorer__input" 
                                          :id="'question-'+question.id+'-answer-'+a"
                                          :name="'question-'+question.id" 
                                          :value="answer.value"
                                          v-model="exploreBy[question.filter]"
                                          :disabled="(getRemaining(question.filter, answer.value) == 0)"
                                          :data-question="question.id"
                                          :data-ga-style-name="question.filter + ', ' + answer.label">
                                    <span v-if="exploreBy[question.filter].indexOf(answer.value) > -1">
                                      <svg class="ev-explorer__answer-check">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#icon-check'}"></use>
                                      </svg>
                                    </span>
                                    <span class="ev-explorer__text-label" v-html="answer.label"></span>
                                    <span class="ev-explorer__remaining-count" v-html="getRemaining(question.filter, answer.value)"></span>
                                  </label>
                                </div>
                              </div>
                              
                              <div v-if="question.style == 'threeup'">
                                <div :class="(getRemaining(question.filter, answer.value) == 0) ? 'ev-explorer__threeup-input ev-explorer__threeup-input--disabled' : 'ev-explorer__threeup-input'"
                                  :data-selected="exploreBy[question.filter].indexOf(answer.value) > -1">
                                  <label class="ev-explorer__label"
                                        :for="'question-'+question.id+'-answer-'+a" >
                                    <svg class="ev-explorer__option-icon">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#' + question.filter + '-' + answer.value.toString().toLowerCase()}"></use>
                                    </svg>
                                    <input type="checkbox"
                                          class="ev-explorer__input" 
                                          :id="'question-'+question.id+'-answer-'+a"
                                          :name="'question-'+question.id" 
                                          :value="answer.value"
                                          v-model="exploreBy[question.filter]"
                                          :disabled="(getRemaining(question.filter, answer.value) == 0)"
                                          :data-question="question.id"
                                          :data-ga-style-name="question.filter + ', ' + answer.label">
                                    <span v-if="exploreBy[question.filter].indexOf(answer.value) > -1">
                                      <svg class="ev-explorer__answer-check">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href':'vector-spritesheet.svg#icon-check'}"></use>
                                      </svg>
                                    </span>
                                    <span class="ev-explorer__text-label" v-html="answer.label"></span>
                                    <span class="ev-explorer__remaining-count" v-html="getRemaining(question.filter, answer.value)"></span>
                                  </label>
                                </div>
                              </div>
  
                            </div>
                          </div>
                      </fieldset>
          
                    </div>
                  </div>
          
                  <div v-if="progress > 0 && progress < 100" class="ev-explorer__nav">
                    <div class="ev-explorer__total-count" v-html="'Results: ' + theRemaining + ' Vehicles'"></div>
                    <button v-on:click="skip($event)" class="btn-secondary ev-explorer__skip">Skip</button>
                    <button v-on:click="validate($event)" class="btn-primary ev-explorer__next">Next</button>
                  </div>
  
                  <div v-if="progress == 100" class="ev-explorer__complete">
                    <h3 class="ev-explorer__complete-title" v-html="'We found ' + theRemaining + ' cars for you!'"></h3>
                    <button v-on:click="passToShowroom($event)" class="btn-primary">View My Cars</button>
                  </div>
          
                </div>
              </div>
            </div>
          </div>
        </script>
        
        
        </div>
		
		<!-- filter sidebar -->
		<div id="filter-sidebar" class="showroom__sidebar">
			<fieldset v-for="filter in filterOptions" class=" filter-sidebar-fieldset">
			<div class="accordion__tab">
				<legend class="filter-sidebar-legend">{{ filter.label }}</legend>

				<div class="filter-sidebar-applied-filters">
				<span class="filter-sidebar-applied" v-for="(tag, index) in filterTags" v-if="tag.type == filter.name">
									{{ tag.label }}<span class="comma">, </span>
				</span>
				</div>
			</div>

			<div class="accordion__panel filter-sidebar-filter-options">
				<div v-for="(option, o) in filter.options" :class="(filter.type == 'checkbox') ? 'checkbox-wrap checkbox-wrap--50-50' : ''">
				<input :type="filter.type" v-model="filterBy[filter.name]" :name="filter.name" :id="filter.name + '-' + o" :value="option.value">
				<label :for="filter.name + '-' + o">{{ option.label }}</label>
				</div>
			</div>

			</fieldset>
			<!-- v-for -->
		</div>
      </div>

    </div>

    

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="jquery-3.3.1.min.js">\x3C/script>')
  </script>

  <script src="main.js?t=1556557921303"></script>
</body>

</html>