/*------------------------------------------
 Buttons
-------------------------------------------*/

// @extend %btn-base to specific button mixins, or to component button for default styles
%btn-base {
	@include reset-button();
	min-width: rem(150);
	display: inline-block;
	position: relative;
	margin-bottom: rem(15);
	padding: rem(17) rem(20);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-button;
	letter-spacing: rem(1);
	cursor: pointer;
	white-space: normal;
	@include font-sizing(rem(14), rem(18), 400);

	&:disabled {
		opacity: 0.75;
		cursor: default;
	}

	@if $print {
		-webkit-print-color-adjust: exact !important;
		        print-color-adjust: exact !important;
	}

	@include breakpoint($medium) {
		min-width: rem(220);
		
	}
	@include breakpoint($large) {
		padding: rem(17) rem(50);
	}
}

.btn-primary,
.btn-secondary,
.btn-transparent,
.btn-branded {
	@extend %btn-base;
}

.btn-primary {
	background-color: gray;
	color: $white;

	&.btn-reverse {
		background-color: $white;
		color: gray;

		&:hover:not([disabled]) {
			background-color: $white;
			color: lightgray;
		}

	}

	&:hover:not([disabled]) {
		background-color: lightgray;
		color: $white;
	}
}

.btn-secondary {
	background-color: $white;
	color: gray;
	border: 1px solid $charcoal;

	&.btn-reverse {
		background-color: transparent;
		color: $white;
		border-color: $white;

		&:hover:not([disabled]) {
			color: lightgray;
		}
	}

	&:hover:not([disabled]) {
		background-color: lightgray;
		color: gray;
	}
}

.btn-transparent {
	background: transparent;
	color: gray;
	border: 1px solid $charcoal;

	&:hover:not([disabled]) {
		background-color: lightgray;
		color: gray;
	}
}

.btn-branded {
	color: $white;
	background: #3bb2bc;

	&:hover:not([disabled]) {
		background-color: darken(#3bb2bc, 10%);
		color: $white;
	}
}

.btn-reset {
	@include reset-button();
	background: none;
	font-family: $font-button;
	cursor: pointer;
}

.btn--subtext {
	font-size: rem(11);
	font-weight: 300;
	margin: rem(6) 0 0;
}

.btn--fill {
	width: 100%;
}

.link-btn { 
	@include reset-button(); 
	color: lightblue; 
	background: none; 
	font-weight: 600; 
	font-size: 14px; 
	font-family: $font-button; 
	cursor: pointer; 

	&--arrow {
		display: inline-block;
		@include inline-svg($icon-long-arrow, lightblue);
		width: rem(20);
		height: rem(10);
		margin-left: rem(5);
	}
}

.btn-vehicle {
	display: inline-flex;
	align-items: center;
	padding: rem(32) rem(40);
	background-color: wheat;
	border-radius: rem(60);

	img {
		max-width: rem(60);
		margin-right: rem(20);

		@include breakpoint($medium) {
			max-width: rem(120);
			margin-right: rem(30);
		}
	}

	span {
		margin: 0;
		text-transform: none;
		letter-spacing: 0;
		@include font-sizing(rem(14), rem(18), bold);

		@include breakpoint($large) {
			@include font-sizing(rem(18), rem(22), bold);
		}
	}
}

.btn-favorite {
	display: flex;
	align-items: center;
	color: $charcoal;
	@include font-sizing(rem(12), rem(14), 400);

	> svg {
		width: rem(23);
		height: rem(19);
		margin-left: rem(10);
		fill: gray;
	}
}